{% extends 'catalog/blog_post.html' %}
{% load static %}

{% block content %}
<div style="background-color: #f4f4f4; padding: 15px; border-radius: 8px;">
    <div class="news-tables">
        <div class="news-table">
            <div class="container">
                <div class="col-sm-8 col-md-7 py-4">
                    <div class="sidebar_item">
                        <h3>{{ object.title }}</h3>
                        <h4>{{ object.content }}</h4>
                        <p>{{ object.creation_date }}</p>
                        <p>{{ object.number_of_views }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
