{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Convenient mailing service</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 140</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Unlimited licence</li>
                        <li>- Support</li>
                        <li>- Server installation</li>
                        <li>- Receiving updates</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Online Shop
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Categories</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Newsletters</a></li>
                    <li><a class="text-muted" href="#">Telegram bots</a></li>
                    <li><a class="text-muted" href="#">Useful utilities</a></li>
                    <li><a class="text-muted" href="#">Web applications</a></li>
                    <li><a class="text-muted" href="#">Microservices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Additionally</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">We're writing</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Contacts</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

